## Importing Library

In [1]:
import numpy as np
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
import string
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

E:\rahul\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
E:\rahul\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
E:\rahul\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
msg = pd.read_csv('spam.csv', encoding = 'latin-1')

In [3]:
msg.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
msg.shape

(5572, 5)

In [5]:
msg = msg.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis = 1)

In [6]:
msg = msg.rename(columns = {'v1': 'label', 'v2':'sms'})

In [7]:
msg['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [8]:
msg.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
msg.loc[:,'label'] = msg.label.map({'ham': 0, 'spam': 1})

In [10]:
msg.head()

   label                                                sms
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [11]:
text = msg['sms']

In [12]:
text = text.apply(lambda x : re.sub('[^A-za_z]', ' ', x))

In [13]:
text = text.apply(lambda x : x.lower())

In [14]:
x = cv.fit_transform(text).toarray()

In [15]:
y = msg['label']

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [17]:
from sklearn.naive_bayes import MultinomialNB
mb = MultinomialNB()
model = mb.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [21]:
model.score(x_test, y_test)

0.97847533632287

In [26]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [28]:
print('accuracy_score: {}'.format(accuracy_score(y_test, y_pred)))
print('precision_score: {}'.format(precision_score(y_test, y_pred)))
print('recall_score: {}'.format(recall_score(y_test, y_pred)))
print('f1_score: {}'.format(f1_score(y_test, y_pred)))

accuracy_score: 0.97847533632287
precision_score: 0.9176470588235294
recall_score: 0.9397590361445783
f1_score: 0.9285714285714286

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()

In [41]:
text = ["Free tones Hope you enjoyed your new content"]

In [42]:
text = cv.transform(text)

In [43]:
model.predict(text)[0]

1